@*This is the tab title*@
@{
    ViewData["Title"] = "Home";
}


@*Page content*@
<div class="text-center py-5">
    @*Title container*@
    <div id="menuLogo" class="jumbotron"  >
        <h1 class="display-4" style="color: white">Mi Mexico </h1>
        <p class="lead" style="color: white"><small>Authentic Mexican Food</small></p>
    
        @*Button Container*@
        <div class="btn-group">

            @*ASP tag helpers, the commeted out code doesn't work*@
            <div class="col-6 text-end px-2">
                <a asp-area="Customer" asp-controller="Home" asp-action="Menu" >  <input type="submit" class="btn btn-light" value="Menu" /></a>
            </div>           

            <div class="col-6 text-end px-2">
                <a asp-area="Customer" asp-controller="Order" asp-action="Order" >  <input type="submit" class="btn btn-light" value="Order" /></a>
            </div>
            @*@using (Html.BeginForm("Menu", "Home"))
            {
            <input type="submit" class="btn btn-light" value="Menu" />
            }*@
            @* @using (Html.BeginForm("Order", "Order"))
            {
                 <input type="submit" class="btn btn-light" value="Order" />

            }*@
@*                @using (Html.BeginForm("AboutUs", "Home"))
                {
                    <input type="submit" class="btn btn-light" value="About Us" />

                }*@
            
        </div>
    </div>
</div>


