@*This is the tab title*@
@{
    ViewData["Title"] = "Home";
}


@*Page content*@
<div class="text-center py-5">
    @*Title container*@
    <div id="menuLogo" class="jumbotron"  >
        <h1 class="display-4" style="color: white">Mi Mexico </h1>
        <p class="lead" style="color: white"><small>Authentic Mexican Food</small></p>
    
        @*Button Container*@
        <div class="btn-group">

            @using (Html.BeginForm("Menu", "Home"))
            {
                <input type="submit" class="btn btn-light" value="Menu" />
            }
            @using (Html.BeginForm("Order", "Order"))
            {
                 <input type="submit" class="btn btn-light" value="Order" />

            }
@*                @using (Html.BeginForm("AboutUs", "Home"))
                {
                    <input type="submit" class="btn btn-light" value="About Us" />

                }*@
            
        </div>
    </div>
</div>


