@{
    ViewData["Title"] = "";
}
@*<div class="container">
    <h1>@ViewData["Title"]</h1>
</div>
*@
<head>
    <link rel="stylesheet" href="~/css/menu.css" asp-append-version="true" />
    <link href="~/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/font-awesome/css/all.css" rel="stylesheet" />
</head>
@*Sub Navbar*@
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Menu" id="btnFood">Food</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Menu" id="btnDrinks">Drinks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Menu" id="btnChoiceOfMeats">Choice of Meats</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Customer" asp-controller="Cart" asp-action="Index"><i class="fa-solid fa-cart-shopping"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

@*Alternate Menu Section*@
    <div class="container py-5">

        @*Choice of Meats section*@
        <div class="jumbotron">
            <h3 class="display-4 text-white" style="text-align: center;">Choice of meats</h3>
            <ul class="list-group list- group-flush py-5">
                <li class="list-group-item">Asada</li>
                <li class="list-group-item">Alpastor</li>
                <li class="list-group-item">Birria</li>
                <li class="list-group-item">Cabeza</li>
                <li class="list-group-item">Carnitas</li>
                <li class="list-group-item">Pollo</li>
                <li class="list-group-item">Lengua</li>
                <li class="list-group-item">Chorizo</li>
            </ul>
        </div>

        @*Food Section*@
        <div class="jumbotron">
            <h3 class="display-4 text-white" style="text-align: center;">Comida / Food</h3>
      
            <div class="row">
                <div class="col-md" 
                    style="
                        background-color: white;
                        border-radius: 20px;">
                    <ul class="list-group list-group-flush py-5">
                <li class="list-group-item">
                    <h4>Tacos</h4>
                    <p>A soft corn tortilla with choice of meat, onion, and cilantro.</p>
                </li>
                <li class="list-group-item">
                    <h4>Torta</h4>
                    <p>Two slice of birote served with choice of meat, lettuce, onion,
                        tomato, and sour cream inside</p>
                </li>
                <li class="list-group-item">
                    <h4>Burrito</h4>
                    <p>Choice of meat, rice, beans, lettuce, tomato, onion, guacamole,
                        cheese, and sour cream wrapped in a flour tortilla</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md">
                    <img id="itemImg" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ed2a6045-dd0b-4a04-9955-ced579efcfea/dfj5we9-4211cef0-126b-48b5-a8c8-cc9252a3435b.jpg/v1/fill/w_1192,h_670,q_70,strp/tacos_by_wizard_emeraldheart_dfj5we9-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvZWQyYTYwNDUtZGQwYi00YTA0LTk5NTUtY2VkNTc5ZWZjZmVhXC9kZmo1d2U5LTQyMTFjZWYwLTEyNmItNDhiNS1hOGM4LWNjOTI1MmEzNDM1Yi5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.wgaz8kVmbOkYIItyMTeKFtSgKmtkKjxeCnjHFPxxCj0">
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <img id="itemImg" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ed2a6045-dd0b-4a04-9955-ced579efcfea/dfj5wec-f2717585-7d77-4862-8f7a-cb9e42c27b0e.jpg/v1/fill/w_1192,h_670,q_70,strp/quesadillas_by_wizard_emeraldheart_dfj5wec-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvZWQyYTYwNDUtZGQwYi00YTA0LTk5NTUtY2VkNTc5ZWZjZmVhXC9kZmo1d2VjLWYyNzE3NTg1LTdkNzctNDg2Mi04ZjdhLWNiOWU0MmMyN2IwZS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.so4d3sMIQv6TgJ-yE-qFiipkry1o9k_HISBJCxzINac">
                </div>
                <div class="col-md"
                     style="
                        background-color: white;
                        border-radius: 20px;">
                    <ul class="list-group list-group-flush py-5">
                <li class="list-group-item">
                    <h4>Quesadilla</h4>
                    <p>Grilled flour tortilla with a choice of meat and a cheesy filling.</p>
                </li>
                <li class="list-group-item">
                    <h4>Ceviche</h4>
                    <p>Fresh raw shrimp, tomato, lemon, and onion.</p>
                </li>
                <li class="list-group-item">
                    <h4>Tostada de ceviche</h4>
                    <p>Hard Corn tortilla with ceviche.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        @*Meats Section*@
        @*<div class="jumbotron">
        <h3 class="display-4 text-white">Choice of meats</h3>
            <div class="row">
                <div class="col-md bg-white border-end border-bottom">
                    <ul class="list-group list-group-flush py-5">
                    <li class="list-group-item">
                        <h4>Asada</h4>
                    </li>
                    <li class="list-group-item">
                        <h4>Alpastor</h4>
                    </li>
                    <li class="list-group-item">
                        <h4>Birria</h4>
                    </li>
                    <li class="list-group-item">
                        <h4>Cabeza</h4>
                    </li>
                    </ul>
                </div>
                <div class="col-md bg-white">
                    <img id="itemImg" src="~/images/Asada.jpg">
                </div>
            </div>
            <div class="row">
                <div class="col-md bg-white border-end">
                    <img id="itemImg" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ed2a6045-dd0b-4a04-9955-ced579efcfea/dfj5wee-b3b52004-4938-47af-a660-9c70c045ae85.jpg/v1/fill/w_1192,h_670,q_70,strp/chorizo_by_wizard_emeraldheart_dfj5wee-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvZWQyYTYwNDUtZGQwYi00YTA0LTk5NTUtY2VkNTc5ZWZjZmVhXC9kZmo1d2VlLWIzYjUyMDA0LTQ5MzgtNDdhZi1hNjYwLTljNzBjMDQ1YWU4NS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.M_Nfo7LzM03W6e-26GV0wGZFBYZxck9Ke3fFUPeG3NQ">
                </div>
                <div class="col-md bg-white border-top">
                    <ul class="list-group list-group-flush py-5">
                    <li class="list-group-item">
                        <h4>Carnitas</h4>
                    </li>
                    <li class="list-group-item">
                        <h4>Pollo</h4>
                    </li>
                    <li class="list-group-item">
                        <h4>Lengua</h4>
                    </li>
                    <li class="list-group-item">
                        <h4>Chorizo</h4>
                    </li>
                    </ul>
                </div>
            </div>
        </div>*@

        @*
       This is COMMETED OUT DRINK SECTION, THE OTHER DRINK SECTION IS DOWN BELOW
        <div class="jumbotron">
        <h3 class="display-4 text-white">Bebida / Drink</h3>
            <div class="row">
                <div class="col-md bg-white border-end border-bottom">
                    <ul class="list-group list-group-flush py-5">
                        <li class="list-group-item">
                            <h4>Agua / Water</h4>
                            <p>Tap water.</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md bg-white border-end border-bottom">
                    <ul class="list-group list-group-flush py-5">
                        <li class="list-group-item">
                            <h4>Horchata</h4>
                            <p>Sweetened rice water.</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md bg-white border-end border-bottom">
                    <ul class="list-group list-group-flush py-5">
                        <li class="list-group-item">
                            <h4>Jamaica</h4>
                            <p>Cold hibiscus tea.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md bg-white border-end">
                    Insert image here
                </div>
                <div class="col-md bg-white border-end">
                    Insert image here
                </div>
                <div class="col-md bg-white border-end">
                    Insert image here
                </div>
            </div>
        </div>
    </div>
        *@
    @*Menu Section*@
    <div class="container py-5">
        @*Food Section*@
@*        <div class="jumbotron">
            <h3 class="display-4 text-white">Comida / Food</h3>
            <ul class="list-group list-group-flush py-5">
                <li class="list-group-item">
                    <h4>Tacos</h4>
                    <p>A soft corn tortilla with choice of meat, onion, and cilantro.</p>
                </li>
                <li class="list-group-item">
                    <h4>Torta</h4>
                    <p>Two slice of birote served with choice of meat, lettuce, onion,
                        tomato, and sour cream inside</p>
                </li>
                <li class="list-group-item">
                    <h4>Burrito</h4>
                    <p>Choice of meat, rice, beans, lettuce, tomato, onion, guacamole,
                        cheese, and sour cream wrapped in a flour tortilla</p>
                </li>
                <li class="list-group-item">
                    <h4>Quesadilla</h4>
                    <p>Grilled flour tortilla with a choice of meat and a cheesy filling.</p>
                </li>
                <li class="list-group-item">
                    <h4>Ceviche</h4>
                    <p>Fresh raw shrimp, tomato, lemon, and onion.</p>
                </li>
                <li class="list-group-item">
                    <h4>Tostada de ceviche</h4>
                    <p>Hard Corn tortilla with ceviche.</p>
                </li>
            </ul>
        </div>*@

        @*Drinks section*@
        <div class="jumbotron">
            <h3 class="display-4 text-white" style="text-align: center;">Bebida / Drink</h3>
            <ul class="list-group list-group-flush py-5">
                <li class="list-group-item">
                    <h4>Agua / Water</h4>
                    <div class="row">
                    <div class="col-sm-4 bg-white border-end">
                        <p>Tap water.</p>
                    </div>

                    <div class="col-md-4 align-right ">
                                <img s id="itemImg" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ed2a6045-dd0b-4a04-9955-ced579efcfea/dfj5wef-fac3071e-6c21-4124-989c-4eae464eb35f.jpg/v1/fill/w_1192,h_670,q_70,strp/water_by_wizard_emeraldheart_dfj5wef-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvZWQyYTYwNDUtZGQwYi00YTA0LTk5NTUtY2VkNTc5ZWZjZmVhXC9kZmo1d2VmLWZhYzMwNzFlLTZjMjEtNDEyNC05ODljLTRlYWU0NjRlYjM1Zi5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.5zgdWkdkcisgf1yY7uQkal3zjongY-y56vD_wVJwIIM"> @*ADD DIFFERNET IMAGE FOR DRINK MENU HERE!!!!*@
                    </div> 
                    </div>

                </li>

                <li class="list-group-item">
                    <h4>Horchata</h4>
                    <div class="row">
                        <div class="col-sm-4 bg-white border-end">
                            <p>Sweetened rice water.</p>
                        </div>
                        <div class="col-md-4 align-right ">
                                <img s id="itemImg" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ed2a6045-dd0b-4a04-9955-ced579efcfea/dfj5weg-8b8b6ffd-76fd-45b9-99c0-d6c3f0245d6c.jpg/v1/fill/w_1192,h_670,q_70,strp/horchata_by_wizard_emeraldheart_dfj5weg-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvZWQyYTYwNDUtZGQwYi00YTA0LTk5NTUtY2VkNTc5ZWZjZmVhXC9kZmo1d2VnLThiOGI2ZmZkLTc2ZmQtNDViOS05OWMwLWQ2YzNmMDI0NWQ2Yy5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.Fcvf0urVigszcEgsh_pOe-Ze77IR_j7tFmxXyCC2yMA">@*ADD DIFFERNET IMAGE FOR DRINK MENU HERE!!!!*@
                        </div>

                    </div>
                </li>
                <li class="list-group-item">
                    <h4>Jamaica</h4>
                    <div class="row">
                        <div class="col-sm-4 bg-white border-end">
                            <p>Cold hibiscus tea.</p>
                        </div>
                        <div class="col-md-4 align-right ">
                                <img s id="itemImg" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ed2a6045-dd0b-4a04-9955-ced579efcfea/dfj5wei-f3560846-4b36-433a-a1a9-4023b791bb7b.jpg/v1/fill/w_1192,h_670,q_70,strp/jamaica_by_wizard_emeraldheart_dfj5wei-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvZWQyYTYwNDUtZGQwYi00YTA0LTk5NTUtY2VkNTc5ZWZjZmVhXC9kZmo1d2VpLWYzNTYwODQ2LTRiMzYtNDMzYS1hMWE5LTQwMjNiNzkxYmI3Yi5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.ICDor_9SYqjrJHgIB5HZbEtO1wstLY1k2y7EIOgUNoY">@*ADD DIFFERNET IMAGE FOR DRINK MENU HERE!!!!*@
                        </div>

                    </div>

                </li>
            </ul>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXcUWLJbW7CjaKj897e2x4B1KJs65AZVk"></script>
    <script>
        const btnDrinks = document.getElementById("btnDrinks");
        btnDrinks.addEventListener("click", function (e) {
            e.preventDefault();
            window.scrollTo(0, 1600);
        });

        const btnFood = document.getElementById("btnFood");
        btnFood.addEventListener("click", function (f) {
            f.preventDefault();
            window.scrollTo(0, 650);
        });

        const btnChoiceOfMeats = document.getElementById("btnChoiceOfMeats");
        btnChoiceOfMeats.addEventListener("click", function (g) {
            g.preventDefault();
            window.scrollTo(0, 170);
        });
    </script>
</body>
