@{
    ViewData["Title"] = "";
}
@*<div class="container">
    <h1>@ViewData["Title"]</h1>
</div>
*@
<head>
    <link rel="stylesheet" href="~/css/menu.css" asp-append-version="true" />
</head>
@*Alternate Menu Section*@
<body>
    <div class="container py-5">
        @*Food Section*@
        <div class="jumbotron">
            <h3 class="display-4 text-white">Comida / Food</h3>
            <div class="row">
                <div class="col-md bg-white border-end border-bottom">
                    <ul class="list-group list-group-flush py-5">
                <li class="list-group-item">
                    <h4>Tacos</h4>
                    <p>A soft corn tortilla with choice of meat, onion, and cilantro.</p>
                </li>
                <li class="list-group-item">
                    <h4>Torta</h4>
                    <p>Two slice of birote served with choice of meat, lettuce, onion,
                        tomato, and sour cream inside</p>
                </li>
                <li class="list-group-item">
                    <h4>Burrito</h4>
                    <p>Choice of meat, rice, beans, lettuce, tomato, onion, guacamole,
                        cheese, and sour cream wrapped in a flour tortilla</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md bg-white border-bottom">
                    <img  id="itemImg" src="~/images/Asada.jpg">
                </div>
            </div>
            <div class="row">
                <div class="col-md bg-white border-end border-top">
                    <img id="itemImg" src="~/images/Asada.jpg">
                </div>
                <div class="col-md bg-white border-top">
                    <ul class="list-group list-group-flush py-5">
                <li class="list-group-item">
                    <h4>Quesadilla</h4>
                    <p>Grilled flour tortilla with a choice of meat and a cheesy filling.</p>
                </li>
                <li class="list-group-item">
                    <h4>Ceviche</h4>
                    <p>Fresh raw shrimp, tomato, lemon, and onion.</p>
                </li>
                <li class="list-group-item">
                    <h4>Tostada de ceviche</h4>
                    <p>Hard Corn tortilla with ceviche.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        @*Meats Section*@
        <div class="jumbotron">
        <h3 class="display-4 text-white">Choice of meats</h3>
            <div class="row">
                <div class="col-md bg-white border-end border-bottom">
                    <ul class="list-group list-group-flush py-5">
                    <li class="list-group-item">
                        <h4>Asada</h4>
                    </li>
                    <li class="list-group-item">
                        <h4>Alpastor</h4>
                    </li>
                    <li class="list-group-item">
                        <h4>Birria</h4>
                    </li>
                    <li class="list-group-item">
                        <h4>Cabeza</h4>
                    </li>
                    </ul>
                </div>
                <div class="col-md bg-white">
                    <img id="itemImg" src="~/images/Asada.jpg">
                </div>
            </div>
            <div class="row">
                <div class="col-md bg-white border-end">
                    <img id="itemImg" src="~/images/Asada.jpg">
                </div>
                <div class="col-md bg-white border-top">
                    <ul class="list-group list-group-flush py-5">
                    <li class="list-group-item">
                        <h4>Carnitas</h4>
                    </li>
                    <li class="list-group-item">
                        <h4>Pollo</h4>
                    </li>
                    <li class="list-group-item">
                        <h4>Lengua</h4>
                    </li>
                    <li class="list-group-item">
                        <h4>Chorizo</h4>
                    </li>
                    </ul>
                </div>
            </div>
        </div>

        @*Drinks Section*@
        <div class="jumbotron">
        <h3 class="display-4 text-white">Bebida / Drink</h3>
            <div class="row">
                <div class="col-md bg-white border-end border-bottom">
                    <ul class="list-group list-group-flush py-5">
                        <li class="list-group-item">
                            <h4>Agua / Water</h4>
                            <p>Tap water.</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md bg-white border-end border-bottom">
                    <ul class="list-group list-group-flush py-5">
                        <li class="list-group-item">
                            <h4>Horchata</h4>
                            <p>Sweetened rice water.</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md bg-white border-end border-bottom">
                    <ul class="list-group list-group-flush py-5">
                        <li class="list-group-item">
                            <h4>Jamaica</h4>
                            <p>Cold hibiscus tea.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md bg-white border-end">
                    Insert image here
                </div>
                <div class="col-md bg-white border-end">
                    Insert image here
                </div>
                <div class="col-md bg-white border-end">
                    Insert image here
                </div>
            </div>
        </div>
    </div>

    @*Menu Section*@
    <div class="container py-5">
        @*Food Section*@
        <div class="jumbotron">
            <h3 class="display-4 text-white">Comida / Food</h3>
            <ul class="list-group list-group-flush py-5">
                <li class="list-group-item">
                    <h4>Tacos</h4>
                    <p>A soft corn tortilla with choice of meat, onion, and cilantro.</p>
                </li>
                <li class="list-group-item">
                    <h4>Torta</h4>
                    <p>Two slice of birote served with choice of meat, lettuce, onion,
                        tomato, and sour cream inside</p>
                </li>
                <li class="list-group-item">
                    <h4>Burrito</h4>
                    <p>Choice of meat, rice, beans, lettuce, tomato, onion, guacamole,
                        cheese, and sour cream wrapped in a flour tortilla</p>
                </li>
                <li class="list-group-item">
                    <h4>Quesadilla</h4>
                    <p>Grilled flour tortilla with a choice of meat and a cheesy filling.</p>
                </li>
                <li class="list-group-item">
                    <h4>Ceviche</h4>
                    <p>Fresh raw shrimp, tomato, lemon, and onion.</p>
                </li>
                <li class="list-group-item">
                    <h4>Tostada de ceviche</h4>
                    <p>Hard Corn tortilla with ceviche.</p>
                </li>
            </ul>
        </div>

        @*Drinks section*@
        <div class="jumbotron">
            <h3 class="display-4 text-white">Bebida / Drink</h3>
            <ul class="list-group list-group-flush py-5">
                <li class="list-group-item">
                    <h4>Agua / Water</h4>
                    <p>Tap water.</p>
                </li>
                <li class="list-group-item">
                    <h4>Horchata</h4>
                    <p>Sweetened rice water.</p>
                </li>
                <li class="list-group-item">
                    <h4>Jamaica</h4>
                    <p>Cold hibiscus tea.</p>
                </li>
            </ul>
        </div>

        @*Choice of Meats section*@
        <div class="jumbotron">
            <h3 class="display-4 text-white">Choice of meats</h3>
            <ul class="list-group list- group-flush py-5">
                <li class="list-group-item">Asada</li>
                <li class="list-group-item">Alpastor</li>
                <li class="list-group-item">Birria</li>
                <li class="list-group-item">Cabeza</li>
                <li class="list-group-item">Carnitas</li>
                <li class="list-group-item">Pollo</li>
                <li class="list-group-item">Lengua</li>
                <li class="list-group-item">Chorizo</li>
            </ul>
        </div>
    </div>
</body>
