<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <authorization>
      <allow roles="Admin" />
    </authorization>
  </system.web>

  <location path="/../Areas/Admin">
    <system.web>
      <authorization>
        <allow users="Admin" />

      </authorization>
    </system.web>
  </location>
</configuration>