@*This is the tab title*@
@{
    ViewData["Title"] = "Home";
}


@*Page content*@
<div class="text-center py-5">

    @*Title container*@
    <div class="jumbotron" style="background-color:lightgray;">
        <h1 class="display-4">Mi Mexico </h1>
        <p class="lead"><small>Authentic Mexican Food</small></p>
    </div>

    @*Button Container*@
    <div class="container">

        @using (Html.BeginForm("Menu", "Home"))
        {
            <input type="submit" class="btn btn-light" value="Menu" />

            @using (Html.BeginForm("Order", "Home"))
            {
                <input type="submit" class="btn btn-light" value="Order" />

            }

            @using (Html.BeginForm("AboutUs", "Home"))
            {
                <input type="submit" class="btn btn-light" value="About Us" />

            }
        }
    </div>
</div>


