<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
@*    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />*@
    <title>@ViewData["Title"] - Mi Mexico </title>
    <link rel="stylesheet" href="~/css/bootswatchTheme.css" />
@*    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MiMexicoWeb.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Landing">MiMexicoWeb</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Menu">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Order">Order</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                        </li>
@*                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </li>*@
                    </ul>
@*                    <form class="d-flex">
                        <input class="form-control me-sm-2" type="text" placeholder="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>*@
                </div>
            </div>
        </nav>
@*        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MiMexicoWeb</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Menu">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Order">Order</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>*@
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer id="footer" class="footer">
        <div  class="container-flex" style="background-color: rgb(131, 81, 81)">
            <div class="d-flex flex-row justify-content-around align-items-center">
                <div class="p-5">
                    <h3 class="text-white">Location</h3>
                    <div>
@*                        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ed2a6045-dd0b-4a04-9955-ced579efcfea/dfd4yuh-2cd0ce1b-0406-42f6-9eeb-e5556de3a21f.png/v1/fill/w_1118,h_715,q_70,strp/screenshot_www_google_com_2022_09_10_16_31_13_by_wizard_emeraldheart_dfd4yuh-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzY0IiwicGF0aCI6IlwvZlwvZWQyYTYwNDUtZGQwYi00YTA0LTk5NTUtY2VkNTc5ZWZjZmVhXC9kZmQ0eXVoLTJjZDBjZTFiLTA0MDYtNDJmNi05ZWViLWU1NTU2ZGUzYTIxZi5wbmciLCJ3aWR0aCI6Ijw9MTE5NCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.0wZVwlV6G85MWRa-04js4qZB5q7vsxLY8GBiSEptajc"
                             width="300">*@
                        <div class="row">
                            <div class="form-group col-md-4">
                                <input type="text" name="city" class="form-control" value="Riego & Elverta 95626" id="txtCity" />
                            </div>
                            <div class="form-group col-md-4">
                                <input type="text" name="country" class="form-control" value="CA" id="txtCon" />
                            </div>
                            <div class="form-group col-md-4">
                                <input type="button" id="btn" class="btn btn-info" value="Search" />
                            </div>
                        </div>
                        <div id="map-canvas" style="height: 500px; width: 500px">
                        </div>
                        <p class="text-white">
                            <strong>Corner of Riego Road & Pleasant Grove</strong>
                            <br>
                            <strong>Elverta, CA 95626</strong>
                        </p>
                    </div>
                </div>
                <div class="p-5">
                    <h3 class="text-white">Hours</h3>
                    <div class="text-white">
                        <p>
                            <strong>Monday:</strong> <small>9:00 am - 5:00 pm</small>
                            <br>
                            <strong>Tuesday:</strong> <small>9:00 am - 5:00 pm</small>
                            <br />
                            <strong>Wednesday:</strong> <small>9:00 am - 5:00 pm</small>
                            <br />
                            <strong>Thursday:</strong> <small>9:00 am - 5:00 pm</small>
                            <br />
                            <strong>Friday:</strong> <small>9:00 am - 5:00 pm</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXcUWLJbW7CjaKj897e2x4B1KJs65AZVk"></script>
    <script>
        $(document).ready(function () {
            $("#btn").click(function () {
                var geocoder = new google.maps.Geocoder();
                var con = document.getElementById('txtCon').value;
                var city = document.getElementById('txtCity').value;
                var com = city + "," + con;
                geocoder.geocode({ 'address': com }, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        var x = results[0].geometry.location.lat();
                        var y = results[0].geometry.location.lng();
                        var latlng = new google.maps.LatLng(x, y);
                        var myOptions = {
                            zoom: 8,
                            center: latlng,
                            mapTypeId: google.maps.MapTypeId.ROADMAP
                        };
                        map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);
                        var marker = new google.maps.Marker({
                            position: new google.maps.LatLng(x, y),
                            map: map,
                            title: com
                        });
                        var infowindow = new google.maps.InfoWindow({
                            content: com
                        });
                        infowindow.open(map, marker);
                        google.maps.event.addDomListener(window, 'load');
                    } else {
                        res.innerHTML = "Enter correct Details: " + status;
                    }
                });
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
